
<ion-view view-title="Two Player" class="two-player-page">
  <ion-content scroll="false">
    <div>
      <div>
        <div class="row">
          <div class="col">
            <h2 id="player1">Player 1</h2>
            <h3>Score: {{ p1score }}</h3>
            <h3>Wins: <span id="player1wins"></span></h3>

            <div id="player1buttons" ng-show="p(1)">
              <button ng-click="rollDice()" class="button button-dark">roll dice</button>
              <button ng-click="hold()" class="button button-dark">hold</button>
            </div>
          </div>

          <div class="col" ng-class="playerActive && 'background-color-black' || !playerActive && 'ion-color-dark'">
            <h2 id="player2">Player 2</h2>
            <h3>Score: {{ p2score }}</h3>
            <h3>Wins: <span id="player2wins"></span></h3>
            <div id="player2buttons" ng-show="p(2)">
              <button ng-click="rollDice()" class="button button-dark">roll dice</button>
              <button ng-click="hold()" class="button button-dark">hold</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-33 col-bottom">
            <h3>Roll: {{ roll }}</h2>
          </div>
          <div class="col">
            <div id="current-score">
              <span id="displaydice"></span>
              <h3>Current score: {{ currentScore }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- background-color="{{ playerBackground }}" -->
<!-- ng-class="{ 'player-active' : player == 1 }" -->
