
<ion-view view-title="Two Player" class="two-player-page">
  <ion-content scroll="false">
    <div ng-controller = "PigDiceCtrl">
      <div>
        <div>
          <h2 id="player1">Player 1</h2>
          <h3>Score: {{ p1score }}</h3>
          <h3>Wins: <span id="player1wins"></span></h3>

          <div id="player1buttons" ng-show="p(1)">
            <button ng-click="rollDice()" class="btn btn-large btn-danger">roll dice</button>
            <button ng-click="hold()" class="btn btn-large btn-success">hold</button>
          </div>
        </div>
        <div class="col-xs-4">
          <h2>Roll: {{ roll }}</h2>
          <span id="displaydice"></span>
          <h3>Current score: {{ currentScore }}</h3>
        </div>
        <div class="col-xs-4">
          <h2 id="player2">Player 2</h2>
          <h3>Score: {{ p2score }}</h3>
          <h3>Wins: <span id="player2wins"></span></h3>
          <div id="player2buttons" ng-show="p(2)">
            <button ng-click="rollDice()" class="btn btn-large btn-danger">roll dice</button>
            <button ng-click="hold()" class="btn btn-large btn-success">hold</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
